body {
    *

{
    text-align: center;
    background-color: azure;
}

body {
    font-family: 'Century Gothic';
}

/* Style the header */
.header {
    text-align: center;
    font-size: 35px;
    color: aquamarine;
}

#search {
    border-color: #4CAF50;
    color: green;
    width: 180px;
}

    #search:hover {
        background-color: #4CAF50;
        color: white;
    }

.btn {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.btn:hover, .dropdown:hover .btn {
    background-color: #0b7dda;
}

#city {
    width: 100px;
    text-align: center;
}

#cuisines {
    width: 100px;
    text-align: center;
}
